* {
    margin: 0;
    font-family: Inter, system-ui;
}

body {
    color: #dadada;
    background: #151a23;
    width: 100%;
    height: 100vh;
}

header {
    height: 80px;
    background: #1f2532;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

main {
    padding: 10% 20%;
}

footer {
    background: #1f2532;
    padding: 2% 20%;
}

.home-main-title {
    margin-top: 0;
    margin-bottom: 5px;
}

.home-main-description {
    font-size: 20px;
}

.new-posts-title {
    margin-top: 40px;
    margin-bottom: 5px;
}

.post {
    margin-bottom: 20px;
}

.posts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-title {
    font-weight: 600;
    font-size: 18px;
}

.show-post-title {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 5px;
}

.post-content {

}

.post-link {
    text-decoration: none;
    color: #dadada;
    transition: color .2s;
}

.post-link:hover {
    color: #6fa2ff;
}

.navbar-brand  {
    font-size: 20px;
    color: #e6e6e6;
    text-decoration: none;
    font-weight: 600;
}

.dropdown-item {
    text-decoration: none;
    color: #d1d1d1;
}

.dropdown-item:hover {
    color: #e6e6e6;
}

.create-post-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 28px;
    width: 100px;
    background: #40a0f2;
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.post-tags {
    display: flex;
    gap: 5px;
}

.post-tag {
    border-radius: 4px;
    padding: 2px 10px;
    background: #1f3865;
}

.container-title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.container {
    margin-bottom: 20px;
}

.form-comments {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-txt {
    height: 100px;
    background: #12161e;
    color: #cecece;
    border-radius: 4px;
    border: none;
}

.comment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 28px;
    background: #40a0f2;
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.a-action {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 28px;
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    background: #2a364a;
}

.profile-actions {
    display: flex;
    gap: 5px;
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-header {
    display: flex;
    gap: 5px;
    align-items: center;
}

.comment-user {
    font-size: 18px;
    font-weight: 600;
}

.comment-date {
    font-size: 14px;
    color: #b8b8b8;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-text {
    font-size: 16px;
    padding: 5px 10px;
    width: 500px;
    background: #10131a;
    color: #cecece;
    border-radius: 4px;
    border: none;
}

.search-input {
    font-size: 16px;
    padding: 5px 10px;
    width: 200px;
    background: #293142;
    color: #cecece;
    border-radius: 4px;
    border: none;
}

.input-textarea {
    font-size: 16px;
    padding: 5px 10px;
    width: 500px;
    height: 150px;
    background: #10131a;
    color: #cecece;
    border-radius: 4px;
    border: none;
}

.label {
    margin-bottom: 5px;
}

.update-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 28px;
    background: #48b15d;
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    width: 125px;
}

.main-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 28px;
    background: #c85353;
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    width: 125px;
}

.table {
    width: 600px;
}

td {
    text-align: center;
    vertical-align: middle;
}

thead {
    background: #4974c0;
    color: #e3e3e3;
}

tr:nth-child(even) {
    background: #202836;
}

.small-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.small-edit {
    background: #31415e;
}

.small-delete {
    background: #da5c5c;
}

td a {
    text-decoration: none;
}

.wrapped-buttons {
    display: flex;
    gap: 5px;
}